html {
    font-family: "Rubik", "Microsoft Sans Serif", serif;
    font-size: 14px;
    line-height: 22px;
    background-color: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
    overflow: clip;
}

ul {
    margin-top: 0;
    padding: 0;
    list-style-type: none;
}

.flexbox-item4 {
    margin-left: 50px;
    margin-top: 0;
}


.flexbox-item4:hover {
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    background-color: white;
    transition: underline;
}

li a {
    font-size: 14px;
    text-transform: uppercase;
    width: 10px;
    height: 10px;
    background-color: white;
    padding: 2%;
    color: dimgrey;
    text-decoration: none;
    float: left;
    margin-left: 50px;
    margin-top: 0;
}

.flex-container {
    flex-direction: row;
    background-color: white;
    height: 150px;
    width: 100%;
    text-align: center;
}

.flexbox-item1 {
    justify-content: flex-start;
    flex-direction: row;
    width: 10%;
    align-items: center;
    background-color: transparent;
    font-size: 14px;
    text-transform: uppercase;
    height: 18px;
    padding: 2%;
    color: dimgrey;
    text-decoration: none;
    float: left;
    margin-left: 50px;
    margin-top: 0;
    transition: color 4s;
}

.flexbox-item1:hover {
    transition: color 4s;
    color: dimgrey;
}


.flexbox-item2 {
    position: center;
    border: solid;
    display: block;
}

.flexbox-item3 {
    justify-content: flex-start;
    float: right;
    flex-direction: row-reverse;
    width: 10%;
    margin: 0;
    padding: 10px;
    background-color: transparent;
}


p {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    text-align: center;
    font-size: 18px;
    color: black;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    margin-left: 100px;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
}

table, th, tr, td {
    border-collapse: separate;
    color: black;
    width: 1000px;
    margin: auto;
    border-spacing: 0;
    border: 1px solid dimgrey;
}

th.dag {
    background-color: rgba(47,219,45,0.27);
}

.social-icon {
    color: darkgrey;
    font-size: 30px;
    transition: color 1s;
    float: right;
    margin-right: 40px;
    margin-top: 0;
    flex-wrap: wrap;
}

.social-icon:hover {
    color: black;
    cursor: pointer;

}

footer {
    border: solid dimgrey;
    float: bottom;
    position: center;
    margin-bottom: 100px;
    align-items: center;
}