* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Rubik", "Microsoft Sans Serif", serif;
    font-size: 14px;
    line-height: 22px;
    background-color: white;
}


/*NAVBAR*/

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    /*border: solid green;*/
    justify-content: center;
}

nav ul li {
    text-align: center;
}

ul {
    list-style-type: none;
}

#top {
    position: relative;
    /*border: 1px solid #000;*/
    max-width: 1200px;
    margin: 2rem auto 0 auto;
    /*border: solid green;*/
    justify-content: center;
}


a {
    text-decoration: none;
    color: dimgrey;
    font-size: 14px;
    text-transform: uppercase;
}

a:hover {
    transition: 0s;
    color: black;
    font-weight: bold;
}

nav .grow {
    /*flex-grow: 1;*/
    /*text-align: center;*/
    display: none;
}

nav .grow img {
    width: 100px;
    height: auto;
}

button {
    border: none;
    padding: 5px .5rem;
    border: none;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    background-color: #fa6161;
}





/*ICONS*/

#icons {
    position: absolute;
    top: -1rem;
    right: -10rem;
    display: flex;
    gap: 0.5rem;
    /*border: solid;*/
    justify-content: right;
}

#icons a {
    color: black;
    font-size: 24px;
}

#icons a:hover {
    transition: 2s;
    color: dimgrey;
    cursor: pointer;
}


/*INDEX TEKST*/

p {
    text-align: justify;
    overflow: hidden;
}

.paragraaf1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-indent: 15px;
    /*border: solid red;*/
    margin-top: 1rem;
    margin-left: 50px;
    margin-right: 50px;
    padding: 1rem;

}
.paragraaf1 img {
    width: 100%;
    max-width: 100%;
}

.paragraaf1 .tekst1 {
    max-width: 800px;
    /*border: solid salmon;*/
}

h2 {
    font-size: 30px;
    align-items: center;
    font-weight: bold;
    margin-top: 0;
    /*border: solid green;*/
    margin-left: 100px;
    max-width: 600px;
    /*justify-content: center;*/
    padding: 1rem;
}

.paragraaf2-item {
    border: solid orange;
    padding: 10rem;
}

.paragraaf2 {
    display: flex;
    flex-direction: column;
    border: solid;
    justify-content: center;
    background-color: lightblue;
    margin-left: 200px;
    margin-right: 200px;
    /*margin-top: 30px;*/
    padding: 1rem;
    align-items: center;
    /*text-indent: 15px;*/
}

.paragraaf2-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid white;
}

.gepassioneerdlesgeversteam {
    border: solid red;
    max-width: 800px;
    flex: 50%

}


.paragraaf3 {
    border: solid dodgerblue ;
    justify-content: center;
    /*background-color: lightcoral;*/
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
    padding: 1rem;
    align-items: center;
    text-indent: 15px;
}

.paragraaf4 {
    /*border: solid;*/
    justify-content: center;
    /*background-color: lightgoldenrodyellow;*/
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
    padding: 1rem;
    align-items: center;
    text-indent: 15px;
}

.paragraaf5 {
    /*border: solid;*/
    justify-content: center;
    /*background-color: lightsteelblue;*/
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 90px;
    margin-bottom: 50px;
    padding: 1rem;
    align-items: center;
    text-indent: 15px;
}

.dansaanbod {
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 2rem;
    padding-bottom: 6rem;
    text-indent: 15px;
}

.titeldans {
    margin-left: 190px;
}


table, th, tr, td {
    border-collapse: separate;
    color: black;
    width: 1000px;
    margin: auto;
    border-spacing: 0;
    border: 1px solid dimgrey;
}

th.dag {
    font-weight: bold;
    background-color: rgba(47, 219, 45, 0.27);
}

.button {
    border: solid green;

}

footer {
    display: flex;
    color: whitesmoke;
    align-items: center;
    justify-content: space-around;
    background-color: dimgrey;
    height: 200px;
}

.teams {
    margin-left: 100px;
    margin-right: 100px;
    padding: 1rem;
    text-indent: 15px;
}

.teamstitel {
    align-items: center;
}

@media (min-width: 700px) {
    body {
        background-color: lightpink;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }
    
    nav .grow {
        display: block;
    }

    #icons {
        position: absolute;
        top: -1rem;
        right: -10rem;
        display: flex;
        gap: 0.5rem;
        /*border: solid;*/
    }

    #icons {
        position: absolute;
        top: -1rem;
        right: -10rem;
        display: flex;
        gap: 0.5rem;
        /*border: solid;*/
        justify-content: right;
    }

    #icons a {
        color: black;
        font-size: 24px;
    }

    #icons a:hover {
        transition: 2s;
        color: dimgrey;
        cursor: pointer;
    }
}


