* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Rubik", "Microsoft Sans Serif", serif;
    font-size: 14px;
    line-height: 22px;
    background-color: white;
}

img {
    width: 100%;
    height: auto;
}

/*navbar*/

#top {
    position: relative;
    max-width: 1200px;
    margin: auto 0 auto;
    justify-content: center;
}

ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border: white;
    background-color: dimgrey;
    justify-content: center;
    padding: 1rem;
    border: 2rem;
    border-radius: 0.5rem;
}

nav ul li {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}

a:hover {
    transition: 0s;
    color: black;
    font-weight: bold;
}

nav .grow {
    flex-grow: 1;
    text-align: center;
    display: none;
}

nav .grow img {
    width: 100px;
    height: auto;
}

/*button*/

button {
    border: none;
    padding: 5px 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: .5s;
    background-color: white;
    color: black;
}

button:hover {
    background-color: black;
    color: white;
}

/*icons*/

#icons {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    gap: 0.5rem;
    /*border: solid;*/
    justify-content: right;
}

#icons a {
    color: lightgrey;
    font-size: 20px;
}

/*#icons a:hover {*/
/*    transition: 1s;*/
/*    transform: scale(1.5);*/
/*    cursor: pointer;*/
/*}*/

/*tekstopmaak index*/

p {
    text-align: justify;
    overflow: hidden;
}

hr {
    width: 70%;
    height: 2px;
    color: silver;
    margin: 4rem auto;

}

.paragraaf1 {
    /*border: 1px solid red;*/
    margin: 0 0.5rem 0 0.5rem;
}

.paragraaf1 .logo {
    /*border: solid blue;*/
    justify-content: center;
}

.paragraaf1 .tekst1 {
    /*border: 1px solid lightseagreen;*/
    text-indent: 15px;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.paragraaf2 {
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px grey;
    text-align: center;
    /*margin-top: 4rem;*/
    margin: 3rem 0.5rem 3rem 0.5rem;
    padding: 6rem 0 6rem 0;
}

.paragraaf2 .teamfoto {
    /*border: 1px solid green;*/
    max-width: 300px;
    border-radius: 0.5rem;
    text-align: center;
}

.paragraaf2 .titel1 {
    /*border: 1px solid blue;*/
    margin-top: 0;
    text-transform: uppercase;
    padding: 0.5rem;
}




.paragraaf3 {
    /*border: 1px solid deeppink;*/
    background-color: gray;
    margin: 3rem 0.5rem 3rem 0.5rem;
    padding: 6rem 0 6rem 0;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px grey; rgba(128, 128, 128, 0.43);
}

.paragraaf3 .tekstinvakjes {
    text-align: center;
    text-transform: uppercase;
}

.vierkant {
    display: grid;
    /*border: 1px solid green;*/
    /*margin-top: 0.25rem;*/
    /*margin-right: 1rem;*/
    /*margin-bottom: 0.25rem;*/
    /*margin-left: 1rem;*/
    gap: 0.5rem;
    margin: 0 0.5rem 0 0.5rem;



/*    grid-template-columns: repeat(2, 1fr);*/
/*    grid-template-rows: 120px;*/
/*    gap: 0.5rem;*/
/*    align-items: center;*/
}


.vakjes {
    border-radius: 0.5rem;
    grid-column: span 1;
    grid-row: span 1;
    align-items: center;
    display: grid;
    gap: 2rem;
    justify-items: stretch;

}

/*.vakjes:hover {*/
/*    transition: 2s;*/
/*    transform: scale(1.2);*/
/*    cursor: pointer;*/
/*    height: auto;*/
/*}*/


.paragraaf4 {
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px grey;
    margin: 3rem 0.5rem 3rem 0.5rem;
    padding: 6rem 0 6rem 0;
}



.paragraaf4 .tekstinvakjes {
    text-align: center;
    text-transform: uppercase;
}
    /*text-transform: uppercase;*/
    /*text-align: center;*/
    /*font-weight: bold;*/
    /*border: 1px solid blueviolet;*/
    /*justify-content: center;*/
    /*font-size: 22px;*/
    /*padding: 1rem;*/
    /*margin: 0px 0.5rem 5px 0.5rem;*/
    /*max-width: 300px;*/
    /*border-radius: 0.5rem;*/


/*}*/

.paragraaf5 {
    text-align: center;

}

.paragraaf5 {
    /*border: 1px solid purple;*/
    margin: 0.5rem;
}

.paragraaf5 .titel1 {
    margin: 4rem 3rem 0 3rem;
    text-transform: uppercase;
    text-align: center;
    /*border: 1px solid red;*/
}

.video {
    align-content: center;
    /*border: 1px solid green;*/
    padding: 0.5rem 0.5rem 50px 0.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
   }


/*footer*/

.persoonlijk {
    /*border: 1px solid black;*/
    text-align: center;
    font-size: 8px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.gegevens {
    /*border: 1px solid black;*/
    background-color: dimgrey;
    display: flex;
    /*justify-content: center;*/
    }

.adres {
    font-size: 8px;
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    align-content: center;
    color: white;
    /*border: 1px solid green;*/
    line-height: 1.5;
    margin: auto;
    padding: 1rem;
}
/*    color: whitesmoke;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    background-color: dimgrey;*/
/*    height: 150px;*/
/*    !*border: 1px solid lawngreen;*!*/
/*    border-radius: 0.5rem;*/
/*}*/

/*.gegevens {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    !*border: 1px solid yellow;*!*/
/*    align-items: center;*/
/*}*/

/*.adres {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    !*border: 1px solid red;*!*/
/*    font-size: 10px;*/
/*    margin-left: 30px;*/

/*}*/

/*.logodanssportvlaanderen {*/
/*    !*border: 1px solid orange;*!*/
/*    margin-right: 10px;*/
/*}*/

/*.persoonlijk {*/
/*    !*display: flex;*!*/
/*    !*border: 1px solid blueviolet;*!*/
/*    padding: 0;*/
/*    font-size: 10px;*/
/*    justify-content: center;*/
/*    align-items: flex-end;*/
/*    height: 40px;*/
/*}*/



/* tekstopmaak dansaanbod */



.h1dansaanbod {
    font-size: 28px;
    text-transform: uppercase;
    padding: 2rem;
    text-align: center;
    /*border: 1px solid red;*/
}

.h2danssoort {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    /*border: 3px solid green;*/
}

.dansaanbod {
    margin: 0 20px 0 20px;
    /*border: 2px solid #b70ae7;*/
    text-indent: 10px;
    padding: 0 1rem 3rem 1rem;

}

.fotocontainer {
    display: flex;
    /*border: 1px solid black;*/
    margin: 1rem;
}


.dansaanbodfoto {
    display: flex;
    width: 300px;
    margin: auto;
    padding: 0 0 50px;
}

/*tekstopmaak lesrooster*/

.h1lesrooster {
    font-size: 28px;
    text-align: center;
    padding: 2rem;
}

.h1tekst {
    margin: 0 20px 0 20px;
}

.h2lesrooster {
    font-size: 20px;
    text-align: center;
    padding: 2rem;
}

.h2tekst {
    margin: 0 20px 0 20px;
    padding: 1rem;
}


/*table*/

.tabel {
    padding-bottom: 50px;
    padding-top: 0;
}

table, th, tr, td {
    border-collapse: separate;
    color: black;
    width: 50%;
    margin: auto;
    border-spacing: 0;
    border: 1px solid dimgrey;
}

th.dag {
    font-weight: bold;
    background-color: rgba(47, 219, 45, 0.27);
}

.h1audities {
    font-size: 28px;
    text-transform: uppercase;
    padding: 2rem;
    text-align: center;
    /*border: 1px solid red;*/
}

.auditiesfoto {
    display: flex;
    width: 300px;
    margin: auto;
    padding: 1rem 0 50px;
}

.h1team {
    font-size: 28px;
    text-align: center;
    padding: 2rem;
}

.jeddagroteam2023 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.teams {
    margin: 0 20px 0 20px;
    padding-top: 1rem;
}

.teamstitel {
    font-size: 20px;
    text-align: center;
    padding: 2rem;
}

.vast {
    font-size: 20px;
    text-align: center;
    padding: 0.5rem;

}

.lesgevers {
    margin: 1rem;
}

.assistenten {
    font-size: 20px;
    text-align: center;
    padding: 0.5rem;

}

.Maya-Lotte-Fenne {
    margin: 1rem;
}






@media (min-width: 400px) {

    .vierkant {
        display: grid;
        /*border: 1px solid green;*/
        margin: 0.25rem 1rem;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 120px;
        gap: 0.5rem;
        align-items: center;
    }


    .vakjes {
        border-radius: 0.5rem;
        grid-column: span 1;
        grid-row: span 1;
        align-items: center;
        display: grid;
        gap: 0.5rem 1rem;
        justify-items: stretch;

    }

    .vakjes:hover {
        transition: 2s;
        transform: scale(1.2);
        cursor: pointer;
        height: auto;
    }



}





@media (min-width: 700px) {
    body {
        background-color: lightpink;
    }


    nav ul {
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        background-color: white;
        color: dimgrey;
        border-radius: 0;
    }

    ul li a {
        color: dimgrey;
    }

    nav .grow {
        display: block;
    }

    #icons {
        position: absolute;
        display: flex;
        gap: 0.5rem;
    }

    #icons {
        position: absolute;
        top: 1rem;
        right: 0.5rem;
        display: flex;
        gap: 0.5rem;
        /*border: solid;*/
        justify-content: right;
    }

    #icons a {
        color: black;
        font-size: 24px;
    }

    #icons a:hover {
        transition: 1s;
        color: dimgrey;
        cursor: pointer;
    }

    button {
        background-color: black;
        color: white;
    }

    button:hover {
        background-color: white;
        color: dimgrey;
    }

    .paragraaf1 {
        border: 1px solid blue;
        display: flex;
        flex-direction: row;
        margin: auto;

    }

    .tekst1 {
        border: 1px solid green;
        max-width: 700px;
        font-size: 22px;

    }

    .paragraaf1 .logo  {
        border: 1px solid black;
        max-width: 300px;
        margin: 10px 0 0 300px;

    }







}


